<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}
    <!-- ======= Team Section ======= -->
 <section id="doctor" class="team section_padding">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
          <div class="member">
            <img src="images/blog/image.png" alt="">
            
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
          <div class="member">
            <img src="images/blog/image2.png" alt="">
           
          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
          <div class="member">
            <img src="images/blog/image3.png" alt="">

          </div>
        </div>

        <div class="col-lg-6 col-md-6 d-flex justify-content-center">
            <div class="member">
              <img src="images/blog/image4.png" alt="">
            
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex justify-content-center">
            <div class="member">
              <img src="images/blog/image5.png" alt="">
            
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex justify-content-center">
            <div class="member">
              <img src="images/blog/image6.png" alt="">
             
            </div>
          </div>
  
        
      </div>

    </div>
  </section>

    <!-- footer -->

    <footer>
        <p>
            created with â¤ by weather
        </p>
    </footer>
</body>
</html>
